.roadmap {
  position: relative;
  margin: 2rem auto;
  padding-left: 2rem;
  border-left: 3px solid #c00; /* red accent line */
}

.roadmap-item {
  position: relative;
  margin-bottom: 2rem;
}

.roadmap-dot {
  position: absolute;
  left: -10px;
  top: 5px;
  width: 16px;
  height: 16px;
  background-color: #c00;
  border-radius: 50%;
}

.roadmap-content h4 {
  color: #c00;
  margin-bottom: 0.5rem;
}