.roadmap {
  position: relative;
  margin: 2rem auto;
  padding-left: 2rem;
  border-left: 3px solid #61dafb; /* red accent line */
}

.roadmap-item {
  position: relative;
  margin-bottom: 2rem;
}

.roadmap-dot {
  position: absolute;
  left: -41px;
  top: 5px;
  width: 16px;
  height: 16px;
  background-color: #61dafb;
  border-radius: 50%;
}

.roadmap-content h4 {
  color: #61dafb;
  margin-bottom: 0.5rem;
}
