.hero-section {
  background-color: #282c34;
  padding: 6rem 0;
  color: #ffffff;
}

.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color:  #087ea4; /* red accent */
}

.hero-subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

.hero-button {
  border: 1px solid #ffffff;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  transition: all 0.3s ease;
  color: #ffffff;
  background-color: #61dafb;
}

.hero-button:hover {
  background-color:  #087ea4;
  color: #fff;
  border-color:  #087ea4;
}
.hero-image {
  max-width: 350px;
  max-height:fit-content;
  border-radius: 70%; /* circular profile picture */
 
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
