.hero-section {
  background-color: #f8f8f8;
  padding: 6rem 0;
  color: #333;
}

.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color:  #087ea4; /* red accent */
}

.hero-subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

.hero-button {
  border: 1px solid #333;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.hero-button:hover {
  background-color:  #087ea4;
  color: #fff;
  border-color:  #087ea4;
}