.hero-section {
  background-color: #282c34;
  padding: 6rem 0;
  color: #ffffff;
}

.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color:  #61dafb; /* red accent */
}

.hero-subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

.hero-image {
  max-width: 85%;
  max-height:fit-content;
  border-radius: 70%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
