.custom-navbar {
  background-color: #20232a; /* light neutral background */
  border-bottom: 1px solid #20232a;
}

.custom-navbar .brand {
  font-weight: bold;
  color: #61dafb; /* red accent */
}

.custom-navbar .nav-link {
  color: #ffffff !important;
  margin-left: 1rem;
  transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover {
  color:  #61dafb !important; /* red accent on hover */
}